body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
section {
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 18px;
    height: 250px;
    padding: 35px 20px 10px;
    width: 250px;
}
#div1 h3 {
    font-weight: bold;
}
#div2 {
    margin-top: 40px;
    text-align: right;
}
#div2 a {
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
} 