@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  height: 100vh;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}
main {
  width: 500px;
  height: 700px;
  background-color: white;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* opacity: .7; */
}
.main-back-section{
    height: 100%;
    opacity: 0.8;
    z-index: 0;
    filter: brightness(70%);
}
.main-top-section {
  width: 100%;
  height: 80%;
  border: 1px solid gray;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* opacity: 0.8; */
  margin-bottom: 5%;
}
.main-top-section img {
  width: 100%;
  height: 80%;
}
.main-top-section div {
  margin-left: 20px;
  color: gray;
  height: 20%;
}
.main-bottom-section {
    border: 1px solid gray;
    border-radius: 5px 5px 0 0;
    height: 16%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    /* opacity: .8; */
}
.main-bottom-section img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 20px;
}
.main-bottom-section h1, h4{
    margin:10px;
}
.main-bottom-section h1{
    font-size: 32px;
}
.main-over-section {
    width: 70%;
    height: 50%;
    background-color: white;
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    
}
.main-over-section h4 {
    font-size: 28px;
    font-weight: 100;
}
.main-over-section p {
    color: #7c7c7c;
    font-size: 1.3em;
    margin:0 20px;
}
.main-over-section div {
    /* text-decoration: none; */
    align-self: flex-end;
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.main-over-section div a{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: .1em;
}